.headerTab{
    font-family: sans-serif;
    background-color:#ffd803;
    color: #272343;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.cart{
    position: relative;
}

.counter{
    position: absolute;
    top: -15px;
}