.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .flexItem{
    width: 30%;
    border: 1px solid black;
    margin: 10px 15px 0 0;
    padding: 7px;
  }